* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
body {
    display: flex;
    flex: 1 ;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}
.main-block {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.container {
    display: flex;
    width: 100%;
    border: 1px solid darkblue;
    background-color: #9280c5;
    justify-content: flex-start;
    flex-direction: column;

    
}
header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    color: #e5e7eb;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: row;

}
header button {
    border: none;
    color: #e5e7eb;
    background-color: #1f2037;
    size: 8px;
    cursor: pointer;
    text-decoration: none;
}
footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    color: #e5e7eb;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.subheader {
    display: flex;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: row;

}
.subheader .container{
    border: none;
    background-color: #1f2037;
    justify-content: flex-start;
    width: 50%;}
.container .Main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    text-align: start
}
.container .Secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    text-align: start
}
#camels {
    object-fit: contain;
    height: 200px;
}