body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.responsive-image {
  max-width: 100%;
  height: auto;
  text-decoration: none;

}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
    gap: 50px;
    margin: 14px;
}
.button-container{
    margin-right: 48px;
    gap: 12px;
    justify-content: flex-end;
}
header button {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
    background-color: #1F2937;
    outline: none;
    border: none;
}

.subheader {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    gap: 16px;
}

.subheader-text {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin-left: 96px;
    flex-direction: column;
}
.subheader .Main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #f9faf8;

}
.subheader .Secondary-text {
    font-size: 18x;
    margin: 0;
    color: #e7e7eb;
}
.signUp  {
    background-color: #3B82F6;
    color: #f9faf8;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    
}
.subheader-image {
    display: flex;
}

.Information { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
}
.information-box {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.information-box .illustration-cube {
    height: 100px;
    width: 100px;
    border: #3B82F6 4px solid;
    gap: 48px;
    border-radius: 5px;
    padding: 16px; 
    margin: 0;
    justify-content: flex-start;
}
