* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.body {
    display: flex;
    flex-direction: column;
    background-color: blue;
}
.main-block {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid darkblue;
    background-color: #9280c5;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 5%;
    gap: 5px;
    
    
}
header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    color: #e5e7eb;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
header button {
    background-color: #9280c5;
    border: none;
    border-radius: 5px;
    color: #e5e7eb;
    size: 18px;
    cursor: pointer;
}
footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    color: #e5e7eb;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}