body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.responsive-image {
  max-width: 100%;
  height: auto;
  text-decoration: none;

}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
    gap: 50px;
    margin: 14px;
}
.button-container{
    margin-right: 48px;
    gap: 12px;
    justify-content: flex-end;
}
header button {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
    background-color: #1F2937;
    outline: none;
    border: none;
}

.subheader {
    display: flex;
    align-items: center;
    gap: 16px;
}