* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;  
}
body {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}
.main-block {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.container {
    display: flex;
    border: 1px solid darkblue;
    background-color: #9280c5;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
header{
    display: flex;
    width: 100%;
    margin: 0 auto;
    color: #e5e7eb;
    background-color: #1f2037;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.headerLeft {
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.headerRight {
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

header button {
    border: none;
    color: #e5e7eb;
    background-color: #1f2037;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    color: #e5e7eb;
    background-color: #1f2037;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.subheader {
    display: flex;
    background-color: #1f2037;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap; 
}
.subheader .container {
    border: none;
    background-color: #1f2037;
    justify-content: start;
    flex: 1; 
    min-width: 250px; 
    margin: 0;
    padding: 10px;
}
.container .Main-text {
    color: #f9faf8;
    font-size: 96px; 
    font-weight: 900;
    text-wrap: wrap;
}
.container .Secondary-text {
    color: #e5e7eb;
    font-size: 36px;  
    text-align: start
}
#camels {
    object-fit: contain;
    height: 400px;  
}
.signUp {
    display: flex;
    padding: 20px 40px;  
    margin: 0;
    align-self: flex-start;
    color: #e5e7eb;
    background-color: #3882f6;
    flex-direction: column;
    border: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: auto;
    min-width: 240px;  
    font-size: 20px;  
}